@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

.float_box {
	width: 225px;
	float: left;
	margin-left: 50px;
	box-sizing: border-box;
}

.float_box:first-child {
	margin-left: 0;
}

.table_box {
	display: table;
}

.table_txt {
	display: table-cell;
	vertical-align: middle;
	word-break: break-word;
	padding-left: 50px;
	width: 255px;
}

.table_txt:first-child {
	padding-left: 0;
}

.kill_space {
	font-size: 0;
}

.inline_box {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	font-size: 16px;
	margin-left: 50px;
	width: 225px;
}
.inline_box:first-child {
	margin-left: 0;
}

.flex_wrapper {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.flex_box {
	width: 225px;
	font-size: 16px;
	box-sizing: border-box;
}

.fixed_box {
	width: 300px;
	display: inline-block;
}

.last_flex_box {
	display: inline-block;
	width: 100%;
	margin-left: -300px;
	padding-left: 350px;
	vertical-align: top;
	box-sizing: border-box;
}

.box_txt {
	font-size: 16px;
}
/* 回答はここに書いてね */
